body{
    margin: 0;
    padding: 0;
    background: rgb(204, 186, 186);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    /*border: 1px solid black;*/
    height: 700px;
    background: #fff;
    top: 60px;
    background: rgb(231, 225, 225);
    border-radius: 5px;
    position: relative;
    margin: 0 auto;

    
}

.left{
    float: left;
    /*border: 1px solid black;*/
    border-radius: 10px;
    height: 600px;
    width: 600px;
    margin-left: 250px;
    margin-top: 60px;
    background-image: url(image/Rowan-Atkinson3.jpg);
    background-repeat: no-repeat;

}

.right{
    float: left;
    height: 600px;
    width: 600px;
    margin-top: 60px;
    border-radius: 10px;
    background: rgb(219, 209, 209);

}
.social{
    list-style: none;
    display: inline;
    border: 1px solid lime;
    border-radius: 50%;
    position: relative;
    height: 55px;
    width: 55px;
    top: 90%;
    left: 60%;
    cursor: pointer;
    background: rgba(250, 248, 248 0.8);

}


.field{
    margin-left: 25%;
    
}

#field{
    color: lime;
    position: inherit;
    border:1px solid lime;
    background: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

#hire{
    margin-left: 20%;
    margin-top: 80px;
    background: lime;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    width: 60%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;

}

#hire:hover{
    font-size: 22px;
}

#lk{
    background-image: url(/image/linkedin.png);
    background-repeat: none;
    margin-right: 10px;
    
}


#tw{
    background-image: url(/image/tw.png);
    background-repeat: none;
    margin-right: 10px;
}
#gt{
    background-image: url(/image/gt.jpg);
    background-repeat: none;
    margin-right: 10px;
}

p{
    text-align: center;
    font-size: 2em;
    margin-top: 100px;
}

h1{
    font-weight: bolder;
    font-size: 4em;
    text-align: center;
    letter-spacing: 2px;    
}

